body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../home/images/play.png') no-repeat center;
  background-size: cover;

  animation: open 0.7s ease-in-out;
}

.row {
  position: relative;
  z-index: 100;

  font-size: 17px;
}

.row::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';

  height: 100%;
  width: 100%;

  background: transparent url('../home/images/papyrus.png') no-repeat center;
  background-size: contain;
  z-index: -5;
}

.table {
  max-height: 40vh;
  max-width: 64vw;
}
	
.no-border tr td, .no-border tr th {
  border: none;

  font-style: italic;
  vertical-align: middle;
}

@keyframes open {
  from { 
    transform: translate(0, 100%); 
  }
  to { 
    transform: none; 
  }
}


@media (max-height: 550px){
  .row {
    font-size: 10px;
  }

  .table {
    max-height: 55vh;
    max-width: 55vh;
  }
}


@media (max-width: 450px) {
  .row {
    font-size: 12px;
  }

  .table {
    max-width: 65vw;
    max-height: 35vh;
  }
}

@media (orientation: landscape) {
  .row::after {
    transform: rotate(90deg);
  }
}